html
  head
    title PowerShell Terminal
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet" href="styles/css/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="js/directives.js")
    script(src="js/services.js")
    script(src="js/controllers.js")
    script(src="js/app.js")
  body(ng-app="app")
    block content
